{% include header.html %}
<div class="row">
	<div class="span3 Module sidebar">
		<div class="well" style="padding: 8px 0px;">
			<ul class="nav nav-list">
				<li{% if page.current == 'overview' %} class="active"{% endif %}>
				<a href="overview.html">Overview</a>
				</li>
				<li{% if page.current == 'releases' %} class="active"{% endif %}>
				<a href="releases.html">Releases</a>
				<ul>
					<li><a href="ubuntu-12.html">Ubuntu 12.04</a></li>
					<li><a href="fedora-14.html">Fedora 14</a></li>
				</ul>
				</li>
				<li{% if page.current == 'troubleshooting' %} class="active"{% endif %}>
				<a href="troubleshooting.html">Troubleshooting</a>
				<ul>
					<li><a href="tshoot/installation.html">Installation</a></li>
					<li><a href="tshoot/networking.html">Network</a></li>
					<li><a href="tshoot/disks.html">Adding Storage</a></li>
					<li><a href="tshoot/apps.html">App Installation</a></li>
				</ul>
				</li>
			</ul>
		</div>
	</div>

  <div class="span9">
    {{ content }}

    <ul class="pager">
    {% if page.previous_url and page.previous %}
        <li class="previous">
            <a href="{{ page.previous_url }}">&larr; {{ page.previous }}</a>
        </li>
    {% endif %}
    {% if page.next_url and page.next %}
        <li class="next">
            <a href="{{ page.next_url }}">{{ page.next }} &rarr;</a>
        </li>
    {% endif %}
    </ul>
  </div>
{% include footer.html %}
